body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   
    
}
h1{
    font-size: 50px;
}
.n{
    color: orange;
}
flex{
    display: flex;
}
.f{
width: 50%;
padding-left: 5%;
}
.f img{
    width: 90%;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgba(241, 68, 0, 0.829) , rgba(238, 0, 0, 0.801));
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
    
}
.flex{
    display: flex;
}
.oo{
    width: 50%;
    padding-right: 30px;
}
.oo img{
    width: 80%;
}
.ll{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
margin-top: 15%;
}
.link2{
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 41, 4, 0.623),rgba(166, 255, 0, 0.863));
    padding: 10px 20px;
    border-radius: 5px;
}
.orange{
    color: orange;
}
.top3{
    margin-bottom: 200px;
    padding-left: 20px;
}
.ex{
    width:40%;margin-left: 5%;
    margin-right: 5px;
    padding-left: 10px;
    box-shadow: 10px 10px 50px rgb(122, 120, 117);
    padding-bottom: 80px;
  
    
}
.top3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border{
border-left: 5px solid;
border-image: linear-gradient(blue,cyan) ;
border-image-slice: 1;
}
#bor{
    border-left: 5px solid;
    border-image: linear-gradient(orange,pink);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}